.layout {
  display: flex;
  min-height: 100vh;
  background: #f7fafc;
}

.layout-main {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  padding: 32px;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}
